{% extends 'manager/base.html' %}
{% load static %}

{% block intro %}
<div class="caption-header text-center wow  mt-4">
  <form class="vg-contact-form myform reset_password" method="post" style="padding:0 15px;">
    <h4 class="fw-normal">Dev<b class="fg-theme">Me</b> | Password Reset</h4>
    <div class="message text-center mt-4"></div>
    <div class="messager text-center wow fadeInUp"></div>
    {% csrf_token %}
    <div class="form-row">
      <div class="col-12 mt-3 wow fadeInUp">
        <input type="email" name="email" class="form-control" placeholder="Enter email address" required id="id_email">
        <span class="feedback text-danger float-left">{{form.email.errors.as_text}}</span>
      </div>
        <div class="mx-auto">
            <button type="submit"  class="btn btn-theme mt-3 wow fadeInUp ml-1 btn-rounded" id="reset_password_btn">
                <span class="fa fa-spinner fa-spin reset_spinner" style="display:none;"></span>
                <span class="reset_text">Reset my password</span>
              </button>
        </div>
    </div>
   <div class="mt-4">
      <span class="Or mb-3"> or login with </span>
      <div class="mx-auto">
        <a title="Google"  href="/accounts/google/login/?process=login"class="btn btn-fab btn-theme no-shadow socialaccount_provider google" style="background-color:#db4a39 ;"><i class="fab fa-google"></i></a>
        <a title="Twitter" href="/accounts/twitter/login/?process=login"class="btn btn-fab btn-theme no-shadow socialaccount_provider twitter" style="background-color:#00acee"><i class="fab fa-twitter"></i></a>
        <a title="GitHub" href="/accounts/github/login/?process=login"class="btn btn-fab btn-theme no-shadow socialaccount_provider github" style="background-color:#171515;"><i class="fab fa-github"></i></a>
      </div>
   </div>
  </form>
  <div class="floating-button"><span class="ti-mouse"></span></div>
</div>
{% endblock %}