{% extends 'manager/base.html' %}
{% load static %}

{% block intro %}
<div class="caption-header text-center wow zoomInUp mt-4">
  {% if validlink %}
  <form class="vg-contact-form myform reset_form" method="post" style="padding:0 15px;">
    <h4 class="fw-normal">Dev<b class="fg-theme">Me</b> | Enter new password </h4>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="message text-center mt-4"></div>
    <div class="messager text-center wow fadeInUp"></div>
    {% csrf_token %}
    <div class="form-row">
      <div class="col-12 mt-3 wow fadeInUp">
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" placeholder="Enter new password">
        <span class="feedback mt-1 float-left text-danger">{{form.new_password1.errors.as_text}}</span>
      </div>
      <div class="col-12 mt-3 wow fadeInUp">
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm new password">
        <span class="feedback mt-1 float-left text-danger">{{form.new_password2.errors.as_text}}</span>
      </div>
        <div class="mx-auto">
            <button  type="submit" class="btn btn-theme mt-3 wow fadeInUp ml-1 btn-rounded" id="resetter_btn">
              <span class="fa fa-spinner fa-spin resetter_spinner" style="display:none;"></span>
              <span class="resetter_text">Change my password</span>
            </button>
        </div>
    </div>
  </form>
  {% else %}
  <h4>Error !</h4>
  <p>The validation link is not valid.</p>
  <div class="mx-auto">
      <a  href="{% url 'password_reset' %}" class="btn btn-theme mt-3 wow fadeInUp ml-1">Try again</a>
  </div>
  {% endif %}
  <div class="floating-button"><span class="ti-mouse"></span></div>
</div>
{% endblock %}