{% extends 'manager/base.html' %}
{% load static %}

{% block intro %}
<div class="caption-header text-center wow fadeInUp" style="margin-top:-60px !important;">
  <form class="vg-contact-form login_form myform" style="padding:0 15px;">
    <h4 class="fw-normal">Dev<b class="fg-theme">Me</b> | Password reset complete</h4>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <div class="mx-auto">
        <a href="{% url 'login' %}" class="btn btn-theme mt-3 wow fadeInUp ml-1">
            <span class="login_text">Login</span>
        </a>
    </div>
  <div class="floating-button"><span class="ti-mouse"></span></div>
</div>
</div> <!-- End Caption header -->
{% endblock %}