{% extends 'manager/base.html' %}
{% load static %}

{% block intro %}
<div class="caption-header text-center fadeInUp wow"style="margin-top:-60px !important;">
  <form class="vg-contact-form login_form myform" style="padding:0 15px;">
    <h4 class="fw-normal">Dev<b class="fg-theme">Me</b> | Password reset sent </h4>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    <div class="floating-button"><span class="ti-mouse"></span></div>
  </form>
</div>
{% endblock %}